# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdf
*.ldf
*.sln.docstates
.vscode/
RegistryMonitorService/.vs/
RegistryMonitorService/.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
AnyCPU/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
!Install.ps1

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser